# Ignore the virtual environment (Heavy libraries)
.venv/
venv/
env/

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore the trained model (Optional: usually we don't push large binary files, 
# but for a small project, you CAN push it if it's under 100MB. 
# If it's huge, add 'models/*.pkl' here)

# Ignore system files
.DS_Store